* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(165deg, purple, blue);
  /* background-image: url("./mbg.jpg"); */
}

h1 {
  font-size: 50px;
  color: white;
}
