div {
  border: 2px solid red;
  height: 500px;
  width: 500px;
  background: repeating-radial-gradient(
      rgba(255, 255, 0, 0.573),
      rgba(255, 0, 0, 0.537),
      black 50%
    ),
    url(../Images/red-panda-1851650_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
